/*----------Paleta de colores--------------------*/

//Colores de fondo 
$fondo1: black;
$fondo2: #fff;
$fondo3: whitesmoke;
$fondo4: #1e1e1e;
$fondo5: #242424;


//Colores a objetos
$color1: black;
$color2: #fff;
$color-facebook: #3c70a4;
$color-whatsapp: #00bb2d;
$color-instagram: #E1306C;

