//*----------                                        Paleta de colores                            --------------------*/

//*Colores de back-ground*/ 
//Colores de fondo 
$fondo1: black;
$fondo2: #fff;
$fondo3: whitesmoke;
$fondo4: #1e1e1e;
$fondo5: #242424;
$fondo6: #999;

//*Colores de elementos*/ 
//Colores a objetos
$color1: black;
$color2: #fff;
$color3: lightgray;
$color4: #999;


// Variables usadas en la estructura (anchos, alturas)
$w-logo-lg: 7em;
$w-logo-md: 5.8em;
$w-logo-sm: 5.5em;

//Anchos maximos de las imagenes del index
$w-img-index-sm:640px;
$w-img-index-md:780px;
$w-img-index-lg:640px;

//Variables de posicion top en main
$m-top-sm: 4.1em;
$m-top-md: 4.1em;
$m-top-lg: 7.1em;


//Variables en el footer
$w-btnrrss-sm:28px;
$h-btnrrss-sm:28px;

$w-btnrrss-md:32px;
$h-btnrrss-md:32px;

$w-btnrrss-lg:35px;
$h-btnrrss-lg:35px;

//Variables en el nav
$h-nav-lg:7em;
$h-nav-md:4.3em;
$h-nav-sm:4em;


