/*--------------  Estilos a tipografias y contenido de texto ---------------*/

//Estilos de fuentes a usar 
/*Fuentes importadas Google-fonts*/ 
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nanum+Gothic:wght@400;800&family=Quicksand:wght@400;700&family=Raleway:wght@300&display=swap');

/*Estilos generales para todos los HTML*/
body { /* Estilo de fuente para todo*/
    font-family: 'Quicksand', sans-serif;
}

//Definicion del tipo de fuente a usar por texto 
$fuente1: 'Audiowide', cursive; //Fuente para los titulos H1
$fuente2: 'Raleway', sans-serif; // Fuente para subtitulos H2, titulos y texto relevantes
$fuente3: 'Nanum Gothic', sans-serif; // Fuente para el titulo scroll


