<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Meta tags requeridos -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags requeridos SEO -->
    <meta name="description" content="Fotografo salteño innovador, creativo. Aqui encontraras un poco de mi persona para conocerme">
    <meta name="keywords" content="Sobre mi FM, Salta, Fotografo Franco Morales">
    <!-- link tags propios -->
    <title>Sobre Mi | FM Fotografia</title>
    <link rel="shortcut icon" href="../media/favicon.ico" type="image/x-icon">
    <!-- Estilos propios CSS-->
    <link rel="stylesheet" type="text/css" href="../css/destino.css">
    <!-- Link de fuentes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
</head>
<body>
    <header>
        <nav class="menu-navegacion">
            <!--Logo y Marca -->
            <div class="logo-marca">
                <a href="../index.html"> <img img class="logo-navegacion" src="../media/logo2.png"></a>
                <h1>fotografia</h1>
            </div>

            <!--Navegacion-->
            <div class="menu">
                <!--Navegacion tipo Mobile-->
                <label for="btn-menu" class="nav-label"><i class="fas fa-bars"></i></label>
                <input type="checkbox" id="btn-menu" class="nav-input">

                <!--Barra de navegacion-->
                <ul class="navegacion">
                    <li><a class="enlaceNavegacion" href="about.html">Sobre Mi</a></li>
                    <li><a class="enlaceNavegacion" href="./portfolio.html">Portafolio</a></li>
                    <li><a class="enlaceNavegacion" href="./opiniones.html">Opiniones</a></li>
                    <li><a class="enlaceNavegacion" href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="seccion-about">
            <h2 class="subAbout">Sobre Mi</h2>
            <div class="contenido-sobremi">
                
                <div class="contParrafoAbout">   <!--Descripción del perfil--> 
                    <p class="parrafoAbout">Franco Morales es un fotógrafo y músico que reside en Salta capital. Como músico, toca diferentes instrumentos de cuerda, realizando actuaciones en diferentes eventos en la región, actualmente es integrante de una banda emergente llamada Dziro. Como creativo natural, su amor por la fotografía como forma de expresión se convirtió en su último camino. Su experiencia como músico y su experiencia artística única hicieron evidente que debería dedicarse a la música y las sesiones fotográficas como su enfoque principal.</p>
                </div>
            </div>  

        </section>

        <div class="clearfix"></div>
       
    </main>

    <footer>
        <!--Contacto de RRSS-->
        <section class="botones-rrss">
            <a href="https://www.facebook.com/franco.morales.1291" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://wa.me/5493886573210?text=Hola,%20me%20interesaría%20poder%20tener%20mas%20información%20del%20servicio%20de%20fotografía" target="_blank" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/francomorales14/?hl=es-la" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
        </section>
        
        <!--Pie de pagina con copy e iconos de redes sociales y enlaces a redes-->
        <h4 id="piePagina">©copyright-2022 | Pagina web creada con pasion por Guillermo Varela</h4>
    </footer>
    
    
</body>
</html>