<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Meta tags requeridos -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags requeridos SEO -->
    <meta name="description" content="Sitio de fotografia, valoraciones, opiniones de los clientes">
    <meta name="keywords" content="FM Fotografia opiniones, Franco Morales opiniones, Fotos de FM valoraciones">
    <!-- link tags propios -->
    <title>Opiniones | FM Fotografia</title>
    <link rel="shortcut icon" href="../media/favicon.ico" type="image/x-icon">
    <!-- Estilos propios CSS-->
    <link rel="stylesheet" type="text/css" href="../css/destino.css">
    <!-- Link de fuentes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
     <!-- Link de galeria de animaciones-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <header>
        <nav class="menu-navegacion">
            <!--Logo y Marca -->
            <div class="logo-marca">
                <a href="../index.html"> <img img class="logo-navegacion" src="../media/logo2.png"></a>
                <h1>fotografia</h1>
            </div>

            <!--Navegacion-->
            <div class="menu">
                <!--Navegacion tipo Mobile-->
                <label for="btn-menu" class="nav-label"><i class="fas fa-bars"></i></label>
                <input type="checkbox" id="btn-menu" class="nav-input">

                <!--Barra de navegacion-->
                <ul class="navegacion">
                    <li><a class="enlaceNavegacion" href="./about.html">Sobre Mi</a></li>
                    <li><a class="enlaceNavegacion" href="./portfolio.html">Portafolio</a></li>
                    <li><a class="enlaceNavegacion" href="opiniones.html">Opiniones</a></li>
                    <li><a class="enlaceNavegacion" href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="cuerpo-opiniones">
        <section class="seccion-opiniones">
            <h2 class="subAbout">Opiniones</h2>
            <div class="caja-opiniones">
                <div data-aos="zoom-in" class="box-opinion">
                    <h3 class="nombreUsuario">Lu Martin</h3>
                    <!--Valoracion 1-->
                    <p>Excelente profesional, super atento con todos los detalles. Desde el primer momento tuvo la mejor onda y super didacta, sin duda recomiendo y volvería a trabajar con él </p>
                
                </div>
                <div data-aos="zoom-in" class="box-opinion">
                    <h3 class="nombreUsuario">Leo Fidalgo</h3>
                    <!--Valoracion 2-->
                    <p> Muy buena experiencia, recomiendo plenamente los precios son accesibles y el trabajo realizado es mas que bueno. Recomiendo 100%.!</p>
                    
                </div>   
                <div data-aos="zoom-in" class="box-opinion">
                    <h3 class="nombreUsuario">Sol Perez</h3>
                    <!--Valoracion 3-->
                    <p>Muy copada experiencia aprendi mucho durante la sesión el fotografo es predispuesto y muy didacta, trabajando con mucho respeto. Gracias.!</p>
                    
                </div> 
                <div data-aos="zoom-in" class="box-opinion">
                    <h3 class="nombreUsuario">Nacho Pipo</h3>
                    <!--Valoracion 3-->
                    <p>Cras imperdiet arcu ullamcorper augue aliquam gravida. Nulla aliquet dolor sit amet volutpat scelerisque. Nulla maximus ornare dui non commodo.</p>
                    
                </div> 
            </div>
        </section>

        <!--Formulario para agregar una nueva opinion--> 
        <form class="formulario-opiniones">
            <fieldset class="contenedor-formulario">
                <legend>Agrega tu opinión</legend>

                <div>
                    <label for="nombre">Nombre</label> 
                    <input class="inform" type="text" name="nombre"/>
                </div>

                <label for="opinion">Opinion</label> 
                <textarea class="descripcion1" name="opinion" cols="10" rows="2"></textarea>
                <div>
                    <label for="rango">Valoracion</label>
                    <input class="inform" type="range" name="rango"/>
                </div>
                <input class="bottons" type="submit" value="Enviar"> 
            </fieldset>
        </form>

    </main>

    <footer>
        <!--Contacto de RRSS-->
        <section class="botones-rrss">
            <a href="https://www.facebook.com/franco.morales.1291" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://wa.me/5493886573210?text=Hola,%20me%20interesaría%20poder%20tener%20mas%20información%20del%20servicio%20de%20fotografía" target="_blank" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/francomorales14/?hl=es-la" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
        </section>
        
        <!--Pie de pagina con copy e iconos de redes sociales y enlaces  redes-->
        <h4 id="piePagina">©copyright-2022 | Pagina web creada con pasion por Guillermo Varela</h4>
    </footer>


    <!--Scrips de animaciones-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
     </script>
    
</body>
</html>